.view-all-games-container {
  display: flex;
  flex-flow: column;
  width: 50%;
  top: 50%;
  left: 50%;
  margin: 50px auto;
  .create-new-game  {
    margin-left: auto;
    margin-top: 10px ;
  }
};